<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analyzer APP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <form class="form" action="/predict" method="post">
            <textarea name="text" placeholder="Enter a text..." rows="4" required></textarea>
            <button class="button" type="submit">Analyze Sentiment</button>
        </form>
        <div class="result">
            {% if sentiment %}
            <p>Your text: {{ text }}</p>
            <p>Sentiment: {{ sentiment }}</p>
            <img src="{{ url_for('static', filename=sentiment + '.gif') }}" alt="GIF">
            {% endif %}
        </div>
    </div>
</body>
</html>
